@import url("https://fonts.googleapis.com/css2?ily=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* dark mode*/
  --switch-bg-url: url(../assets/moon.svg);
  --background-color: #0d101f;
  --cor-titulo-destaque: #22D4FD;
  --houver-links: #161a30;
  --cor-texto: #f0ece5;
  --cor-sec: #b4d4ff;
  --font-titulo: "Krona One", sans-serif;
  --font-paragrafos: "Montserrat", sans-serif;
  --box-shadow: 4px 8px 8px 0px rgba(55, 80, 108, 1);
}

.light {

  /*light mode*/
  --switch-bg-url: url(../assets/sun.svg);
  --cor-titulo-destaque: #22D4FD;
  --houver-links: #37506C;
  --font-titulo: "Krona One", sans-serif;
  --font-paragrafos: "Montserrat", sans-serif;
  --cor-sec: #b6bbc3;
  --cor-texto: #176b87;
  --background-color: #eef5ff;
  --box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.75);


}


body {
  background-color: var(--background-color);
  color: var(--cor-texto);

}

.cabecalho {
  padding: 2% 10% 0% 0%;
}

.cabecalho__menu {
  display: flex;
  justify-content: right;
  gap: 80px;
}


.cabecalho__menu__link {
  color: var(--cor-texto);
  font-size: 1rem;
  font-family: var(--font-titulo);
  font-weight: 600;
  transition: all .3s ease-in-out;

}

.cabecalho__menu__link:hover {
  color: var(--cor-titulo-destaque);

}

.switch {
  position: relative;
  width: 64px;

}

.switch button {
  width: 32px;
  top: 50%;
  height: 32px;
  transform: translateY(-50%);
  border: 0;
  border-radius: 50%;
  background: var(--switch-bg-url) no-repeat center/cover;
  position: absolute;
  z-index: 1;
  left: 0;
  animation: slide-out 0.4s;

}

.switch button:hover {
  outline: 6px solid var(--cor-sec);
  transition: all ease-in-out .2s;
}

.light .switch button {
  animation: slide-in 0.4s forwards;
}

.switch span {
  width: 64px;
  height: 24px;
  border: 1px solid var(--cor-texto);
  border-radius: 9999px;
  display: block;
}

@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }

}

@keyframes slide-out {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}

.apresentacao {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;

}

.apresentacao__conteudo__titulo {
  font-size: 1.87rem;
  font-family: var(--font-titulo)
}

.titulo-destaque {
  color: var(--cor-titulo-destaque)
}

.apresentacao__conteudo__paragrafo {
  font-size: 1.25rem;
  font-family: var(--font-paragrafos);
  font-weight: 400;

}

strong {
  color: var(--cor-titulo-destaque);
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.apresentacao__links__subtitulo {
  font-size: 1.25rem;
  font-family: var(--font-titulo);
  font-weight: 400;
}

.apresentacao__links__navegacao {
  width: 75%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.125rem;
  color: var(--cor-titulo-destaque);
  border: 1px solid var(--cor-titulo-destaque);
  background-color: var(--houver-links);
  padding: 16px 0;
  font-family: var(--font-paragrafos);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  transition: all .3s ease-in-out;
  box-shadow: var(--box-shadow)
}

.apresentacao__links__navegacao:hover {
  background-color: transparent;

}

.apresentacao__links__navegacao:active {
  opacity: .75;
}

.apresentacao__img {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--cor-titulo-destaque) solid 4px;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 5px;
}

/*
.img {}
*/
.nome__perfil {
  margin: 5px;
  font-size: 1.12rem;
  font-family: var(--font-paragrafos);
  font-weight: 500;
  text-align: center;
}

footer {
  height: 50px;
  background-color: var(--cor-titulo-destaque);
  display: flex;
  align-items: center;
  justify-content: center;
}

.rodape {
  font-size: 1.12rem;
  font-family: var(--font-paragrafos);
  font-weight: 500;
  color: var(--houver-links);

}

@media (max-width: 1024px) {
  .cabecalho {
    padding: 10%;
    width: 100%;
  }

  .cabecalho__menu {
    justify-content: center;
    gap: 30px;
  }

  .switch button {
    top: 30%;
  }



  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .apresentacao__conteudo {
    width: auto;
  }

  .apresentacao__img {
    width: 70%;
  }
}